@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.pricing-slider {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

ion-content {
  --background: transparent;
}

ion-toolbar {
  --background: transparent;
  --border-width: 0;
}

ion-item {
  --background: transparent;
  --color-hover: var(--ion-color-primary);
  --transition: all 0.2s ease-in-out;
}

.subscription-segment {
  --background: transparent;
}

.font-cursive {
  font-family: 'Dancing Script', cursive;
}