ion-content {
  --background: transparent;
}

ion-toolbar {
  --background: transparent;
  --border-width: 0;
}

ion-item {
  --background: transparent;
  --color-hover: var(--ion-color-primary);
  --transition: all 0.2s ease-in-out;
}

.subscription-segment {
  --background: transparent;
  
  ion-segment-button {
    --background: transparent;
    --color: #D28B88;
    --border-radius: 9999px;

    &.segment-button-checked {
      --background: #D28B88;
      --color: white;
    }
  }
}

